  .sidebar {
    width: 250px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.26);
    height:100vh;
    color: #000;
  }
  
  .sidebar ul {
    padding: 30px;
  }
  
  .sidebar li {
    margin: 20px 0;
    list-style: none;
  }
  .sidebar li a {
    text-decoration: none;
    color: black; 
  }

  @media (max-width: 768px) {
    .sidebar {
      width: 100px;
    }
  }
  
  @media (max-width: 480px) {
    .sidebar {
      width: 50px;
    }
  
    .sidebar ul {
      padding-left: 0;
    }
  
    .sidebar li {
      margin: 5px 0;
      text-align: center;
    }
  }
  